@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Разработчик:</strong>   <a href="mailto:shabolda.artam@gmail.com">shabolda.artem@gmail.com</a><br />
</address>